@media (max-width: 1231px) {
    h1 {
        font-size: 3vw;
    }

}

@font-face {
    font-family: 'cute';
    src: url(fonts/Litebulb\ 8-bit.ttf);
}

@font-face {
    font-family: 'retro';
    src: url(fonts/Daydream.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.popup {
    position: absolute;
    font-family: 'retro';
    top: 5.5vw; /* Adjust as needed */
    left: 6vw;
    font-size: 1vw;
    margin: 0 auto;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(213, 131, 131);
    padding: .5vw 1vw;
    border-radius: 0.5vw;
    z-index: 1000; /* Ensure popup is on top */
}

.welcome {
    position: absolute;
    width: 40%;
    height: 65%;
    top: 20%;
    left: 30%;
}

.gato {
    display: block;
    margin: .6vw auto;
    width: 100%;
    height: 80%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.button-icon {
    width: 3vw; /* Adjust the size as needed */
    height: 3vw; /* Adjust the size as needed */
    transition: transform 0.3s ease;
}

.button-icon:hover {
    transform: scale(1.1);
}

.pause-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    width: 1vw;
    height: auto;
}

.play-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    width: 1vw;
    height: auto;
}

h1 {
    text-align: center;
    margin: .6vw auto;
    padding: 0;
    font-family: 'cute';
    letter-spacing: .6vw;
    color: #f5a59e;
    font-size: 4vw;
}

.kirby {
    position: absolute;
    bottom: 0;
    left: 2vw;
    margin: 0;
    height: auto;
    width: 10vw;
}

.end {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    font-size: 3vw;
    margin: 0;
    font-family: 'cute';
    color: white;
    -webkit-text-stroke: .04vw pink;
}

.copy, .copy1, .copy2, .copy3, .copy4, .copy5 {
    animation: animate 4s linear infinite;
    position: absolute;
    font-weight: bold;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: black;
    color: white;
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(-10deg);
    }
    25% {
        transform: translateY(-100px) rotate(10deg);
    }
    50% {
        transform: translateY(0px) rotate(-10deg);
    }
    75% {
        transform: translateY(100px) rotate(10deg);
    }
    100% {
        transform: translateY(0px) rotate(-10deg);
    }
}

.copy {
    top: 40%;
    left: 5%;
}

.copy1 {
    top: 30%;
    left: 60%;
}

.copy2 {
    top: 12%;
    left: 25%;
}

.copy3 {
    top: 60%;
    left: 20%;
}

.copy4 {
    top: 65%;
    left: 80%;
}

.copy5 {
    top: 5%;
    left: 80%;
}
